.main
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px;
  height: calc(100vh - 2*(64px));
  background: #fec208;
  border-radius: 64px;
  padding: 64px;
}

.container
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container div
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.textarea
{
  min-width: 720px;
  padding: 16px;
  height: 280px;
  border-radius: 16px;
  width: auto;
  border: none;
  resize: none;
}